<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.backend.database.mapper.CollectionCaseMapper">
    <insert id="saveCollectionCase" parameterType="com.universe.backend.database.domain.CollectionCase">
        insert into `collection_case` (id, collection_id, case_id, `index`) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.collectionId}, #{item.caseId}, #{item.index})
        </foreach>
    </insert>
    <delete id="deleteCollectionCase" parameterType="java.lang.String">
        delete from collection_case where collection_id = #{collectionId}
    </delete>
    <select id="getCollectionCaseTypes" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct(c.system) from collection_case cc
        left join `case` c on c.id = cc.case_id
        where cc.collection_id = #{collectionId}
    </select>
    <select id="getCollectionCaseList" parameterType="java.lang.String" resultType="com.universe.backend.dto.CollectionCaseDTO">
        select cc.id, cc.`index`, cc.case_id, cc.collection_id, c.name as caseName,
               c.type as caseType, c.system as caseSystem
        from collection_case cc
        left join `case` c on c.id = cc.case_id
        where cc.collection_id = #{collectionId}order by cc.index
    </select>

</mapper>
